/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary-color: #026467;
    --secondary-color: #EFEA;
    --body-text-color: #596392;
    --navbar-footer-color: #F9F9F9;
}